aside.widget.widget_categories
	h4 CATEGORIES
	ul
		li
			a(href="#!") Services
				small 7
		li
			a(href="#!") Accomondation
				small 12
		li
			a(href="#!") Room &amp; suite
				small 3
		li
			a(href="#!") Spa &amp; gym
				small 2
		li
			a(href="#!") Pool &amp; swim
				small 9