extends config/layout.jade

//-====================================
//- CONFIG-OVERRIDES: Add your settings here to override the defaults from config.jade
block config
	- var production        		= false
	- var demoMode          		= false
	- var jquery_1          		= false
	- var page_title        		= "XENIA - Luxury hotel"
	- var stylesheet        		= "style.css"
	- var displayLogo       		= true
	- var displayTools      		= false
	- var headerClass       		= 'click_menu transparent'
	- var logo_link        		= 'index.html'
	- var header_nav_class  	= 'nav_centered uppercase'
	- var bodyClass         		= ''
	- var bodyStyle        	 	= ""
	- var pagewrapperClass  	= ''
	- var owlSlider         		= true
	- var lightbox          		= false
	- var beforeAfter       		= false
	- var twitterFeed       		= false
	- var googleMaps        		= false
	- var isotope           		= false
	- var ajaxLoader        		= false
	- var newsletter        		= false
	- var parallax          		= false
	- var easing            		= false
	- var wowAnimation     		= true
	- var contactForm       		= false
//-====================================

block header_content
	include includes/header  
block head_panel
	.head_panel
		.full_width_photo.transparent_film(style="background-image: url('./assets/images/page-head-5.jpg')")
			.container
				.caption
					h1 BOOKING
					span Book your trip with us
block main_content
	section.light_section
		.container
			.row
				.col-md-12.text-left
					ul.breadcrumb
						li
							a(href="#!") HOME
						li
							span BOOKING
				.col-md-4
					.widget.widget_book.background_cover.widget_no_line.featured(style="background-image: url('assets/images/book-widget-bg-2.jpg')")
						span DOUBLE ROOM
						h2 WEEKEND 50% OFF
						p $ 99 / DAY
						div
							i.icon.icon-TV
							i.icon.icon-Espresso
							i.icon.icon-Signal
						a.btn.btn-white(href="#!") VIEW THE ROOM
					.widget.widget_book.background_cover.widget_no_line(style="background-image: url('assets/images/book-widget-bg.jpg')")
						span KING SUITE
						h2 WINTER OFFER
						p $ 199 / DAY
						a.btn.btn-white(href="#!") VIEW THE ROOM
				.col-md-8
					form.booking_form_full
						input.name.form-control(type='text', name='name', aria-required='true', aria-invalid='false', placeholder="NAME")
						input.name.form-control(type='text', name='email', aria-required='true', aria-invalid='false', placeholder="EMAIL")
						input.name.form-control(type='text', name='checkin', aria-required='true', aria-invalid='false', placeholder="CHECK IN DATE")#date_check_in
						input.name.form-control(type='text', name='checkout', aria-required='true', aria-invalid='false', placeholder="CHECK OUT DATE")#date_check_out
						.col-md-12
							.row
								.select-arrow
								select.form-control
									option ADULTS
									option 1
									option 2
									option 3
									option 4
						.col-md-12
							.row
								.select-arrow
								select.form-control
									option SELECT YOUR ROOM
									option Single room
									option Double room
									option Suite with view
									option Deluxe king suite
						textarea.message.form-control(name='message', cols='40', rows='4', aria-invalid='false', placeholder="COMMENTS")
						button.btn.btn-primary(type='submit', name='submit') SUBMIT
block footer_content
	include includes/footer
  
block secondary_nav_widgetized_area_content
	include includes/secondary-widgetized-area