extends config/layout.jade

//-====================================
//- CONFIG-OVERRIDES: Add your settings here to override the defaults from config.jade
block config
	- var production        		= false
	- var demoMode          		= false
	- var jquery_1          		= false
	- var page_title        		= "XENIA - Luxury hotel"
	- var stylesheet        		= "style.css"
	- var displayLogo       		= true
	- var displayTools      		= false
	- var headerClass       		= 'click_menu transparent'
	- var logo_link        		= 'index.html'
	- var header_nav_class  	= 'nav_centered uppercase transparent'
	- var bodyClass         		= ''
	- var bodyStyle        	 	= ""
	- var pagewrapperClass  	= ''
	- var owlSlider         		= true
	- var lightbox          		= false
	- var beforeAfter       		= false
	- var twitterFeed       		= false
	- var googleMaps        		= false
	- var isotope           		= true
	- var ajaxLoader        		= false
	- var newsletter        		= false
	- var parallax          		= false
	- var easing            		= false
	- var wowAnimation     		= true
	- var contactForm       		= false
//-====================================

block header_content
	include includes/header  

block main_content
	.head_panel
		.full_width_photo.vertical_center.bg_vbottom.padding_top_half.transparent_film(style="background-image: url(assets/images/home-restaurant-2.jpg)")
			.container
				.row
					.col-md-8.col-md-offset-2.text-center
						.caption.caption_elegant
							.inner
								.t3.uppercase  XENIA'S RESTAURANT
								.t1 EXOTIC FOOD TASTES
	section.white_section
		.container
			.col-md-12.text-center
				.section_header.overlay
					span XENIA
					h1 XENIA RESTAURANT
					p ONE OF THE BEST PLACES TO TASTE.. EVERYTHING
					img(src="assets/images/decoration-1.png" alt="Image")
			.col-md-10.col-md-offset-1.text-center.margin_bottom
				.text_block
					h3 TASTEFUL EXPERIENCES SINCE '98.
					p Our restaurant is exceptional. Us lesser doesn't them tree night, creature itself second gathered good moving Image saying which itself of she'd gathering thing. Creepeth. Subdue dominion open fruit signs lights the itself face tree spirit the creature whose air fifth creeping waters earth, life the two. Sixth they're bearing don't so called cattle, herb waters sea air us abundantly grass fowl for don't thing void man whales our days don't fowl firmament for great let may dominion own us which. Thing give fruitful Seas divided was make isn't You're. Shall green void shall. Fifth whales their life which.
					p Yours truly,
						small Steven.
					.footer
						img(src="assets/images/avatar-5.jpg", width="70" alt="Image").img-circle
						span STEVEN ALVARO
							small HEAD CHEF
	section.light_section.no_padding.vcenter
		.container-fluid
			.row
				.col-md-6.col-lg-8
					.row
						.stretchy_wrapper.ratio_16-9(style="background-image: url(assets/images/banner-2.jpg)")
				.col-md-6.col-lg-4.col-lg-pull-1
					.row
						.banner.text_block
							span FAMOUS WINES
							h2 WINE TASTING
							p They're seas gathering behold the years saying make and divide fill given whales fill female moved, blessed. Midst one from divide whales seasons cattle male own saying to night fruit own creeping second earth be lesser without deep beast female.
							a.btn.btn-black(href="index-restaurant.html") OUR MENU
	section.white_section.text-center
		.container
			.row
				.col-md-12
					.section_header.elegant
						h1 FINEST FOOD HOUSE
						p ORIGINAL AND TRANDITIONAL ITALIAN FOOD
						img(src="assets/images/decoration-1.png" alt="Image")
			.row.vcenter.margin_top_half
				.col-md-6.text-left
					.text_block
						span ITALIAN CUISINE
						h3 PASTA AND VEGETABLES
						p A wide range of remarkable unique tastes and feelings. Blessed That day you're dominion lesser cattle the lesser form sea earth won't. Morning made. Can't she'd days sixth beast spirit likeness. Also face Kind fowl so in seas. Gathered may stars land, his dry tree signs make place under signs him upon of rule fill light may deep that.
						a.btn.btn-link(href="index-restaurant.html") OUR MENU
				.col-md-6.margin_bottom_half
					img(src="assets/images/restaurant-feature-1.jpg" alt="Image").small_screen_margin_top_half
			.row.vcenter
				.col-md-6.margin_bottom_half
					img(src="assets/images/restaurant-feature-2.jpg" alt="Image")
				.col-md-6.text-left
					.text_block
						span RESERVE A TABLE
						h3 PRIVATE DINNING
						p You can always enjoy your dinner privately. Blessed That day you're dominion lesser cattle the lesser form sea earth won't. Morning made. Can't she'd days sixth beast spirit likeness. Also face Kind fowl so in seas. Gathered may stars land, his dry tree signs make place under signs him upon of rule fill light may honestly amazing.
						a.btn.btn-link(href="booking.html") BOOK NOW
			.row.vcenter
				.col-md-6.text-left.small_screen_margin_top_half
					.text_block
						span WE GUARANTEE
						h3 A REMARKABLE EXPERIENCE
						p Our experienced staff and our many years guarantee that you'll have a pleasant experience that you will never forget . Blessed That day you're dominion lesser cattle the lesser form sea earth won't. Morning made. Also face Kind fowl so in seas. Gathered may stars land, his dry tree signs make place under signs him upon of rule fill. To be cue or not to be cue is our main and only goal.
						a.btn.btn-link(href="index-restaurant.html") OUR MENU
				.col-md-6.margin_bottom_half
					img(src="assets/images/restaurant-feature-3.jpg" alt="Image").small_screen_margin_top_half
	section.dark_section.text-center.background_cover.bg_vbottom(style="background-image: url(assets/images/restaurant-banner-1.jpg);")
		.container					
			.col-md-8.col-md-offset-2.margin_top_half
				.text_block
					h2 HAVE A ROOM? HAVE A SEAT
					p You can book your room online, and if your room supports it, automatically reserve a seat for dinner in our 5-star gourme restaurant. So do not wait, book your room now!
					a.btn.btn-white(href="booking.html") BOOK NOW
block footer_content
	include includes/footer
  
block secondary_nav_widgetized_area_content
	include includes/secondary-widgetized-area