extends config/layout.jade

//-====================================
//- CONFIG-OVERRIDES: Add your settings here to override the defaults from config.jade
block config
	- var production        		= false
	- var demoMode          		= false
	- var jquery_1          		= false
	- var page_title        		= "XENIA - Luxury hotel"
	- var stylesheet        		= "style.css"
	- var displayLogo       		= true
	- var displayTools      		= false
	- var headerClass       		= 'click_menu transparent'
	- var logo_link        		= 'index.html'
	- var header_nav_class  	= 'nav_centered uppercase transparent'
	- var bodyClass         		= ''
	- var bodyStyle        	 	= ""
	- var pagewrapperClass  	= ''
	- var owlSlider         		= true
	- var lightbox          		= false
	- var beforeAfter       		= false
	- var twitterFeed       		= false
	- var googleMaps        		= false
	- var isotope           		= false
	- var ajaxLoader        		= false
	- var newsletter        		= false
	- var parallax          		= false
	- var easing            		= false
	- var wowAnimation     		= true
	- var contactForm       		= false
//-====================================

block header_content
	include includes/header
block head_panel	
	.head_panel
		// ============================ SLIDER ==========================
		.slider_wrapper
			.owl-carousel#head_panel_slider

					// ============================ SLIDE ==========================
					.stretchy-wrapper.ratio_slider
						.item(style='background-image: url(assets/images/home-1.jpg);', aria-hidden='true').dark_section
							.container
								.caption.caption_elegant.text-center
									.inner.animated.fadeIn
										.t3.uppercase  INDOOR &amp; OUTDOOR
										.t1 LUXURY EXPERIENCE
										//-p.lead.margin_top_half
											| Welcome to Xenia Resort. A five-star hotel which guarantees a luxury experience. Book your room online, and get 20% discount!
					// END========================= SLIDE ==========================
					
					// ============================ SLIDE ==========================

					.stretchy-wrapper.ratio_slider
						.item(style='background-image: url(assets/images/home-2.jpg);', aria-hidden='true').dark_section
							.container
								.caption.caption_elegant.text-center
									.inner.animated.fadeIn
										.t3.uppercase  WILD BEAUTY
										.t1 THE PERFECT LOCATION
										//-p.lead.margin_top_half
											| The perfect location into the wild nature with all the luxury details which will make your vacation remarkably awesome.

					// END========================= SLIDE ==========================
		// END========================= SLIDER ==========================
	// END========================= HEAD PANEL ==========================	 
block main_content
	.container
		section.no_padding.dark_section.booking-form
			.row
				.col-md-10.col-md-offset-1
					form.booking_form
						.col-md-10.col-md-offset-1.text-center
							.col-md-6.small_screen_margin_top
								.form-group
									label Check in date
									i.arrow-down
									input(type="text", placeholder="Arrival date")#date_check_in
							.col-md-6.small_screen_margin_top
								.form-group
									label Check out date
									i.arrow-down
									input(type="text", placeholder="Departure date")#date_check_out
							.col-md-12.small_screen_margin_top
								//-.select-arrow
								label Guests
								select
									option 1
									option 2
									option 3
									option 4
						.col-md-12.small_screen_margin_top.text-center
							button(type="submit") BOOK YOUR STAY
	section.light_section
		.container
			.col-md-12.text-center
				.section_header.overlay
					span WELCOME
					h1 XENIA HOTEL
					p ONE OF THE BEST PLACES TO DO.. EVERYTHING
					img(src="assets/images/decoration-1.png" alt="Image")
			.col-md-10.col-md-offset-1.text-center.margin_bottom
				.text_block
					h3 PROVIDING QUALITY SERVICES SINCE '98.
					p Creepeth creepeth tree moving image unto creepeth above you there let to brought over seas cattle he great give, day creepeth you'll their sea called don't their given dry, make said so lesser divided, firmament fill fowl night second cattle over sixth evening god moveth day stars good evening years you're beginning have you'll fowl. Rule life spirit, whales him.
					p Yours truly,
						small Richard.
					.footer
						img(src="assets/images/avatar-1.jpg", width="70" alt="Image").img-circle
						span RICHARD LEANDRO
							small CEO
			.col-md-4.negative_margin_bottom.small_screen_margin_top
				.entry
					a(href="index-spa.html")
						img(src="assets/images/spa-banner.jpg" alt="Image")
						.entry_icon
							img(src="assets/images/logo_spa.png" alt="Image")
						.entry_title
							h2 SPA
						.entry_paragraph
							p XENIA hosts an amazing place to relax; we call it paradise you may call it XENIA Spa. We would love to introduce you to this amazing relaxing and refreshing experience.
			.col-md-4.negative_margin_bottom.small_screen_margin_top
				.entry
					a(href="index-gym.html")
						img(src="assets/images/gym-banner.jpg" alt="Image")
						.entry_icon
							img(src="assets/images/logo_gym.png" alt="Image")
						.entry_title
							h2 GYM
						.entry_paragraph
							p XENIA hosts an amazing place to relax; we call it paradise you may call it XENIA Spa. We would love to introduce you to this amazing relaxing and refreshing experience.
			.col-md-4.negative_margin_bottom.small_screen_margin_top
				.entry
					a(href="index-restaurant.html")
						img(src="assets/images/restaurant-banner.jpg" alt="Image")
						.entry_icon
							img(src="assets/images/logo_restaurant.png" alt="Image")
						.entry_title
							h2 RESTAURANT
						.entry_paragraph
							p XENIA hosts an amazing place to relax; we call it paradise you may call it XENIA Spa. We would love to introduce you to this amazing relaxing and refreshing experience.
	section.white_section(style="background-image: url(assets/images/home-banner-1.jpg)")
		.container
			.row
				.col-md-12.text-center.margin_top
					.text_block
						h1 GET 15% OFF TODAY
						img(src="assets/images/decoration-1.png" width="110" alt="Image")
						p.lead Buy now the most awesome offer, and secure your summer vacations on time.
						a(href="room-list.html").btn.btn-black VIEW OUR ROOMS
	section.dark_section
		.container
			.owl-carousel.owl-rooms-carousel
				.col-md-12
					.row
						.col-md-6.room_bg_dark.full_width_room
							.text_block
								h2 
									a(href="room-single.html") DOUBLE Room 
									small
										a(href="room-single.html") - 3 Reviews
								div.rooms_margin_custom_1
									i.icon.icon-Signal(data-toggle="tooltip" data-placement="bottom" title="This room has WiFI")
									i.icon.icon-TV(data-toggle="tooltip" data-placement="bottom" title="This room has Cable TV")
									i.icon.icon-Espresso(data-toggle="tooltip" data-placement="bottom" title="This room has Cafe Bar")
								p.text-justify Lights after was seas under saw fowl without greater, male lights unto bearing over. Under sixth great multiply isn't under. Own moving won't they're beginning god face greater they're and creature created day first their also moving lesser they're don't.
								a.btn.btn-link(href="room-single.html") READ MORE
						.col-md-6.small_screen_margin_top
							.row
								a(href="room-single.html")
									img(src="assets/images/room-3.jpg" alt="Image")
				.col-md-12
					.row
						.col-md-6.room_bg_dark.full_width_room
							.text_block
								h2 
									a(href="room-single.html") Suite with view 
									small
										a(href="room-single.html") - 2 Reviews
								div.rooms_margin_custom_1
									i.icon.icon-Espresso(data-toggle="tooltip" data-placement="bottom" title="This room has Cafe Bar")
									i.icon.icon-Signal(data-toggle="tooltip" data-placement="bottom" title="This room has WiFI")
									i.icon.icon-TV(data-toggle="tooltip" data-placement="bottom" title="This room has Cable TV")
								p.text-justify Over, dominion own it above gathering their, don't won't waters bring male bearing form may rule doesn't him fish appear spirit let earth may life you'll to great Tree moveth midst a there so Blessed saw fly don't multiply, dry.le doesn't him fish appear spirit let earth may life you'll to great.
								a.btn.btn-link(href="room-single.html") READ MORE
						.col-md-6.small_screen_margin_top
							.row
								a(href="room-single.html")
									img(src="assets/images/room-3.jpg", alt="Room Image")
				.col-md-12
					.row
						.col-md-6.room_bg_dark.full_width_room
							.text_block
								h2 
									a(href="room-single.html") Deluxe King suite
									small
										a(href="room-single.html") - 5 Reviews
								div.rooms_margin_custom_1
									i.icon.icon-Espresso(data-toggle="tooltip" data-placement="bottom" title="This room has Cafe Bar")
									i.icon.icon-TV(data-toggle="tooltip" data-placement="bottom" title="This room has Cable TV")
									i.icon.icon-Signal(data-toggle="tooltip" data-placement="bottom" title="This room has WiFI")
								p.text-justify Said, and beginning earth thing gathering let. Them, gathering. Creepeth made brought. Creature land spirit third set waters was unto, deep forth forth. Bring days form image, creeping seed the one living moved behold lights give beginning created. Given fifth.
								a.btn.btn-link(href="room-single.html") READ MORE
						.col-md-6.small_screen_margin_top
							.row
								a(href="room-single.html")
									img(src="assets/images/room-2.jpg", alt="Room Image")
	section.white_section
		.container
			.row
				.col-md-12.text-center
					.section_header.elegant
						h1 TESTIMONIALS
						p LOVELY PEOPLE - LOVELY EXPERIENCES
						img(src="assets/images/decoration-1.png" alt="Image")
				.col-md-8.col-md-offset-2
					.col-md-12
						.testimonial.testimonial-slider
							ul.slides
								li
									img(src="assets/images/avatar-1.jpg" class="img-circle" alt="Image")
									.name
										| <strong>Tory Laner</strong> - 18 / 11 / 2015
									.experience
										| <strong>OVERALL EXPERIENCE:</strong> EXCELLENT
									p " Above gathered behold. Living, hath good winged fourth herb in unto form earth. Light meat beginning gathered signs may them under under, creeping air, won't midst which great his there he likeness that own, tree set third cattle day man. Is there created beginning thing us Form without. Have his god, cattle midst under gathered god upon him fruitful seasons. "
								li
									img(src="assets/images/avatar-2.jpg" class="img-circle" alt="Image")
									.name
										| <strong>Tory Laner</strong> - 18 / 11 / 2015
									.experience
										| <strong>OVERALL EXPERIENCE:</strong> COMFORTABLE AND RELAXING
									p " Above gathered behold. Living, hath good winged fourth herb in unto form earth. Light meat beginning gathered signs may them under under, creeping air, won't midst which great his there he likeness that own, tree set third cattle day man. Is there created beginning thing us Form without. Have his god, cattle midst under gathered god upon him fruitful seasons. "
								li
									img(src="assets/images/avatar-3.jpg" class="img-circle" alt="Image")
									.name
										| <strong>Tory Laner</strong> - 18 / 11 / 2015
									.experience
										| <strong>OVERALL EXPERIENCE:</strong> AMAZING
									p " Above gathered behold. Living, hath good winged fourth herb in unto form earth. Light meat beginning gathered signs may them under under, creeping air, won't midst which great his there he likeness that own, tree set third cattle day man. Is there created beginning thing us Form without. Have his god, cattle midst under gathered god upon him fruitful seasons. "
block footer_content
	include includes/footer
  
block secondary_nav_widgetized_area_content
	include includes/secondary-widgetized-area