extends config/layout.jade

//-====================================
//- CONFIG-OVERRIDES: Add your settings here to override the defaults from config.jade
block config
	- var production        		= false
	- var demoMode          		= false
	- var jquery_1          		= false
	- var page_title        		= "XENIA - Luxury hotel"
	- var stylesheet        		= "style.css"
	- var displayLogo       		= true
	- var displayTools      		= false
	- var headerClass       		= 'click_menu transparent'
	- var logo_link        		= 'index.html'
	- var header_nav_class  	= 'nav_centered uppercase'
	- var bodyClass         		= ''
	- var bodyStyle        	 	= ""
	- var pagewrapperClass  	= ''
	- var owlSlider         		= true
	- var lightbox          		= false
	- var beforeAfter       		= false
	- var twitterFeed       		= false
	- var googleMaps        		= false
	- var isotope           		= false
	- var ajaxLoader        		= false
	- var newsletter        		= false
	- var parallax          		= false
	- var easing            		= false
	- var wowAnimation     		= true
	- var contactForm       		= false
//-====================================

block header_content
	include includes/header  

block main_content
	.head_panel
		.full_width_photo.transparent_film(style="background-image: url('./assets/images/page-head-2.jpg')")
			.container
				.caption
					h1 Rooms List Compact
					span View details for every room we have, in a different view
	section.light_section
		.container
			.row
				.col-md-12.text-left
					ul.breadcrumb
						li
							a(href="#!") HOME
						li
							span ROOMS LIST
				.col-md-6.small_screen_margin_top_half
					.col-md-12
						.row
							a(href="room-single.html")
								img(src="assets/images/room-4.jpg", alt="Room Image")
					.col-md-12.room_bg_light.compact_width_room
						.text_block
							h2 
								a(href="room-single.html") Single Room 
								small
									a(href="room-single.html") - 5 Reviews
							div
								i.icon.icon-TV
								i.icon.icon-Signal
								i.icon.icon-Espresso
							p.text-justify Over, dominion own it above gathering their, don't won't waters bring male bearing form may rule doesn't him fish appear spirit let earth may life you'll to great Tree moveth midst a there so Blessed saw fly don't multiply, dry.le doesn't him fish appear spirit let earth may life you'll to great.
							a.btn.btn-primary(href="room-single.html") READ MORE
				.col-md-6.small_screen_margin_top_half
						.col-md-12
							.row
								a(href="room-single.html")
									img(src="assets/images/room-1.jpg", alt="Room Image")
						.col-md-12.room_bg_light.compact_width_room
							.text_block
								h2 
									a(href="room-single.html") Double Room 
									small
										a(href="room-single.html") - 5 Reviews
								div
									i.icon.icon-Signal
									i.icon.icon-TV
									i.icon.icon-Espresso
								p.text-justify Over, dominion own it above gathering their, don't won't waters bring male bearing form may rule doesn't him fish appear spirit let earth may life you'll to great Tree moveth midst a there so Blessed saw fly don't multiply, dry.le doesn't him fish appear spirit let earth may life you'll to great.
								a.btn.btn-primary(href="room-single.html") READ MORE
				.col-md-6.margin_top_half
						.col-md-12
							.row
								a(href="room-single.html")
									img(src="assets/images/room-3.jpg", alt="Room Image")
						.col-md-12.room_bg_light.compact_width_room
							.text_block
								h2 
									a(href="room-single.html") Suite with view 
									small
										a(href="room-single.html") - 5 Reviews
								div
									i.icon.icon-TV
									i.icon.icon-Espresso
									i.icon.icon-Signal
								p.text-justify Over, dominion own it above gathering their, don't won't waters bring male bearing form may rule doesn't him fish appear spirit let earth may life you'll to great Tree moveth midst a there so Blessed saw fly don't multiply, dry.le doesn't him fish appear spirit let earth may life you'll to great.
								a.btn.btn-primary(href="room-single.html") READ MORE
				.col-md-6.margin_top_half
						.col-md-12
							.row
								a(href="room-single.html")
									img(src="assets/images/room-2.jpg", alt="Room Image")
						.col-md-12.room_bg_light.compact_width_room
							.text_block
								h2 
									a(href="room-single.html") Deluxe king suite
									small
										a(href="room-single.html") - 5 Reviews
								div
									i.icon.icon-Signal
									i.icon.icon-Espresso
									i.icon.icon-TV
								p.text-justify Over, dominion own it above gathering their, don't won't waters bring male bearing form may rule doesn't him fish appear spirit let earth may life you'll to great Tree moveth midst a there so Blessed saw fly don't multiply, dry.le doesn't him fish appear spirit let earth may life you'll to great.
								a.btn.btn-primary(href="room-single.html") READ MORE
block footer_content
	include includes/footer
  
block secondary_nav_widgetized_area_content
	include includes/secondary-widgetized-area